body {
	background-color: #4A2134;
	background-image: url(imagenes/fondo.jpg);
}

table {
  	border-collapse: collapse;
}

table, td, th{
 	border: 2px solid;
}

th {
  	color: blue;
  	border-color: white;
}

tbody {
	font-style: oblique;
}