body {
	background-size: cover;
	background-image: url(imagenes/fondo.jpg);
}

table {
  	border-collapse: collapse;
}

table, td, th {
}

th {
}

tbody {
}

nav li {
	font-style: none;
	color: cyan;  
}

nav ul {
	list-style: none;
}